.down{
	margin-left: 50px;
	margin-top: 30px;
	width: 200px;
	/*height: 500px;*/
	background-color: #eee;

}
.topa{
	padding: 0;
	margin-top: 5px;
	background-color: #eee;
	border-bottom: 1px solid #aaa;
	padding-left: 20px;
	line-height: 36px;
	background: url(https://avatars1.githubusercontent.com/u/13638996?v=4&s=100) left 0 no-repeat;
	background-size: 36px 36px;
}
.addclass {
	padding: 0;
	margin-top: 5px;
	background-color: #eee;
	border-bottom: 1px solid #aaa;
	padding-left: 20px;
	line-height: 36px;
	background: url(https://avatars1.githubusercontent.com/u/13638996?v=4&s=100) right 0 no-repeat;
	background-size: 36px 36px;
}
a {
	text-decoration: none;
}
.pic{
	width: 160px;
	/*height: 250px;*/
	background-color: #eee;
	padding: 20px;
}
.pic img{
	width: 160px;
	height: 210px;
}
.down ul{
	margin: 0;
	list-style-type: none;
	background-color: #eee;
	padding-bottom: 30px;
}
.info li {
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color:#333;
}
.info li .val-name {
	display: inline-block;
	width: 4em;
	padding-right: 1em;
}

.up{
	position: absolute;
	left: 58px;
	top: 67px;
	padding: 20px;
	width: 460px;
	height: 250px;
	background-color: rgba(123,123,123,0.3);
	display: none;
	overflow: hidden;

}
.up img{float: left; 	width: 160px;
	height: 210px;
	background-color: #000000;}


	.red{
		background: red;
	}
	.green {
		background: yellow;
	}
